// 导入变量文件，用 "as *" 取消命名空间，变量可全局直接使用（无需加前缀）
@use './variables' as *;
@use  './reset.scss';
@font-face {
  font-family: 'jingangFont'; /* 第一个字体名称 */
  src: url('@/assets/fonts/jingang.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AiDeepFont'; /* 修改为不同的字体名称 */
  src: url('@/assets/fonts/AiDeep.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'heitiFont'; /* 修改为不同的字体名称 */
  src: url('@/assets/fonts/heiti.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
// 添加全局公共样式（如重置样式、body 样式等）
body {
  margin: 0 !important;
  padding: 0;
  background-color: $background-color;
  font-family: 'Microsoft YaHei', sans-serif;
  outline: none;
}
/* 通用面板样式 */
.main-panel {
  width: 410px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: width 0.3s ease;
  position: absolute;
  top: $header-height ;
  color:$text-light;
  font-family: 'AideepFont';
}
.left-panel {
  left: 10px;
}

.right-panel {
  right: 10px;
}
.panel-header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  line-height: 40px;
  cursor: default;
  background-image: url("@/assets/images/bg_panel_title.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  height: 40px;
  padding-left:20px;
  .panel-title {
    font-size: 22px;
    color: #ffffffe8;
    font-family: "heitiFont";
    text-shadow: 0 0 6px rgba(34, 101, 255, 0.3), 0 0 12px #182e3f;
  }
}

.panel-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  background-color:#182e3f7a;
  
}
.panel-content::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to left,  rgba(255, 255, 255, 0),transparent);
}
/* 滚动条样式优化 */
.panel-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.panel-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}

.panel-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}